<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= club.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= club.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= club.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= club.zip_code %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= club.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= club.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= club.website %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= club.coordinates %>
  </p>

  <p>
    <strong>Day and time info:</strong>
    <%= club.day_and_time_info %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= club.image_url %>
  </p>

  <p>
    <strong>Contact person:</strong>
    <%= club.contact_person %>
  </p>

  <p>
    <strong>Established date:</strong>
    <%= club.established_date %>
  </p>

</div>
