<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= document.description %>
  </p>

  <p>
    <strong>Uploaded by:</strong>
    <%= document.uploaded_by %>
  </p>

  <p>
    <strong>File url:</strong>
    <%= document.file_url %>
  </p>

</div>
